.medium-toolbar-arrow-under:after {
  bottom: -8px;
  border-color: #000 transparent transparent transparent;
}
.medium-toolbar-arrow-over:before {
  bottom: 8px;
  border-color: transparent transparent #000 transparent;
}
.medium-editor-toolbar {
  background-color: #000;
  box-shadow: rgba(0, 0, 0, .2) 0px 2px 10px;
  border-radius: 4px;
}
.medium-editor-toolbar li { padding: 0 }
.medium-editor-toolbar li button {
  min-width: 45px;
  height: 45px;
  border: none;
  border-left: 1px solid #222;
  background-color: transparent;
  color: #fff;
  padding: 8px;
  font-size: 12px;
}
.medium-editor-toolbar li:first-child button {
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.medium-editor-toolbar li:last-child button {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.medium-editor-toolbar li button:hover {
  color: #999;
}
.medium-editor-toolbar li .medium-editor-button-active {
  background-color: #8dae28;
  color: #fff;
}
.medium-editor-toolbar li .medium-editor-button-active:hover {
  color: #fff;
}
.medium-editor-toolbar li .medium-editor-button-last {
  border-right: none;
}
.medium-editor-toolbar-form .medium-editor-toolbar-input {
  height: 48px;
  background: #000;
  color: #fff;
}
.medium-editor-toolbar-form .medium-editor-toolbar-input::-webkit-input-placeholder {
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
}
.medium-editor-toolbar-form .medium-editor-toolbar-input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
}
.medium-editor-toolbar-form .medium-editor-toolbar-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
}
.medium-editor-toolbar-form .medium-editor-toolbar-input:-ms-input-placeholder {
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
}
.medium-editor-toolbar-form a {
  min-width: 45px;
  height: 45px;
  border: none;
  border-left: 1px solid #222;
  background-color: transparent;
  color: #fff;
  padding: 16px 0 0 16px;
  font-size: 12px;
  vertical-align: top;
  margin: 0;
}
.medium-editor-toolbar a:hover {
  color: #999;
}
.medium-editor-toolbar a:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.medium-editor-toolbar-anchor-preview {
  background: #8dae28;
  color: #fff;
}
.medium-editor-placeholder:after {
  color: #fff;
}
.medium-editor-toolbar-form-row {
  color: #fff;
}
.medium-editor-toolbar-form .medium-editor-toolbar-input {
  height: 45px;
  margin-left: 4px;
}
