
.medium-editor-input {
    display: none;
}

.medium-editor {
    min-height: 10em;
}

    .medium-editor h2 {
        font-size: 1.6em;
        font-weight: bold;
        margin-bottom: 1em;
    }

    .medium-editor h3 {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 1em;
    }

    .medium-editor p {
        margin-bottom: 1em;
    }

    .medium-editor strong,
    .medium-editor b {
        font-weight: bold;
    }

    .medium-editor em,
    .medium-editor i {
        font-style: italic;
    }

    .medium-editor a {
        text-decoration: underline;
    }

    .medium-editor blockquote {
        margin-bottom: 1em;
        font-style: italic;
        padding-left: 1em;
    }

    .medium-editor ul {
        list-style: inside square;
    }

    .medium-editor ol {
        list-style: inside decimal;
    }

    .medium-editor del {
        text-decoration: line-through;
        color: red;
    }

    .medium-editor ins {
        text-decoration: underline;
        color: green;
    }

    .medium-editor mark {
        background-color: yellow;
    }
