
.wysiwyg-editor-input {
    display: none;
}

.wysiwyg-editor {
    min-height: 10em;
}

    .wysiwyg-editor h2 {
        font-size: 1.6em;
        font-weight: bold;
        margin-bottom: 1em;
    }

    .wysiwyg-editor h3 {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 1em;
    }

    .wysiwyg-editor p {
        margin-bottom: 1em;
    }

    .wysiwyg-editor strong,
    .wysiwyg-editor b {
        font-weight: bold;
    }

    .wysiwyg-editor em,
    .wysiwyg-editor i {
        font-style: italic;
    }

    .wysiwyg-editor a {
        text-decoration: underline;
    }

    .wysiwyg-editor blockquote {
        margin-bottom: 1em;
        font-style: italic;
        padding-left: 1em;
    }

    .wysiwyg-editor ul {
        list-style: inside square;
    }

    .wysiwyg-editor ol {
        list-style: inside decimal;
    }

    .wysiwyg-editor del {
        text-decoration: line-through;
        color: red;
    }

    .wysiwyg-editor ins {
        text-decoration: underline;
        color: green;
    }

    .wysiwyg-editor mark {
        background-color: yellow;
    }
